.container {
  border: solid 1px red;
  margin: 0 15px;
  display: flex;
  flex-direction: column;

  @media all and (min-width:768px) {
    margin: 0 45px;
  }

  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}
