.container {
  border: solid 1px red;
  margin: 0 6.5%;
  display: grid;

  @media all and (min-width: 768px) {
    grid-auto-flow: column;
    column-gap: 5%;
  }
  @media all and (min-width: 1200px) {
    margin: 0 10%;
  }
}
