// estilos para los formularios //

.banner__contact {
  &-image {
    height: 300px;
    background-image: url(../images/contact-banner.png);
    background-size: cover;
  }
}

.contact__article {
&-title {
  color: var(--aqua);
  text-align: center;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 600;
  padding-top: 30px;
}

&-text {
  font-family: "Open Sans";
  line-height: 1.88;
  text-align: center;
  color: var(--dark-gray);
  padding: 20px 0;
}
}


.fieldset {
    padding: 15px;
  }

.text-style-1 {
  color: var(--aqua);
}

.field,
.field-massage {
  margin: 15px 0px 15px 0px;
  padding: 0px 0px 0px 15px;
}

.field,
.field-submit,
.field-massage {
  width: auto;
  height: 45px;
  border: solid 1px #b8b8b9;
}

.field-submit {
  background-color: #099d8d;
  width: 100%;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 60px;
}

.field-massage {
  height: 105px;
}

form {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 768px) {
  form{
    padding: 30px 163px 60px 163px;
  }
  .contact__article{
    padding: 30px 163px 60px 163px;
  }

  .field-submit{
    width: 206px;
    display: flex;
    justify-content: center;
    }

  .buttom{
    display: flex;
    justify-content: right;
  }
}

@media all and (min-width: 1200px){
  form{
    padding: 45px 300px 120px 299px;
  }
  .field-submit{
    width: 278px;
}
}