// estilos para los formularios //

.banner__contact {
  &-image {
    height: 300px;
    background-image: url(../images/contact-banner.png);
    background-size: cover;
  }
}

.contact__article {
  padding: 3%;
  &-title {
    color: var(--aqua);
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 600;
    padding-top: 30px;
  }

  &-text {
    font-family: "Open Sans";
    line-height: 1.88;
    text-align: center;
    color: var(--dark-gray);
    padding: 20px 0;
  }
}

.fieldset {
  padding: 3%;
  &__form {
    display: flex;
    flex-direction: column;

    &-field {
      margin: 15px 0px 15px 0px;
      padding: 0px 0px 0px 15px;
      width: auto;
      height: 45px;
      border: solid 1px #b8b8b9;

      &-submit {
        background-color: #099d8d;
        width: 100%;
        height: 45px;
        text-transform: uppercase;
        color: var(--white);
        margin-bottom: 60px;
      }

      &-text-style-1 {
        color: #099d8d;
      }
    }

    &-field-message {
      margin: 15px 0px 15px 0px;
      padding: 0px 0px 0px 15px;
    }
  }
}


@media all and (min-width: 768px) {
  .contact__article {
    padding: 0% 10% 0% 10%;
  }
  
  .fieldset {
    &__form {
      padding: 0% 10% 0% 10%;
      &-field {
        &-submit {
          width: 50%;
          display: flex;
          justify-content: center;
        }
      }
      .buttom {
        display: flex;
        justify-content: right;
      }
    }
    }
  }


@media all and (min-width: 1200px) {
  .contact__article {
    padding: 0% 20% 0% 20%;
  }

  .fieldset {
    &__form {
      padding: 0% 20% 0% 20%;
    }
  }
}