<article class="conteiner">
  <img class="imagen" src="@@imagen" alt="foto-perfil" />
  <div class="description-team">
    <p class="name">@@nombre</p>
    <p class="info">@@descripcion</p>
    <div class="redes-sociales">
      <a target="__blank" href="@@twitter">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <p>&#8226;</p>
      <a target="__blank" href="@@linkedin">
        <i class="fa-brands fa-linkedin-in"> </i>
      </a>
      <p>&#8226;</p>
      <a target="__blank" href="@@github"><i class="fa-brands fa-github-alt"></i></a>
      <p>&#8226;</p>
      <a href="@@mail">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
  </div>
</article>