<article class="about-us__article">
  <img class="about-us__image" src="@@imagen" alt="foto-perfil" />
  <div class="about-us__description-team">
    <p class="about-us__name">@@nombre</p>
    <p class="about-us__info">@@descripcion</p>
    <div class="about-us__social">
      <a target="__blank" href="@@twitter">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <p>&#8226;</p>
      <a target="__blank" href="@@linkedin">
        <i class="fa-brands fa-linkedin-in"> </i>
      </a>
      <p>&#8226;</p>
      <a target="__blank" href="@@github"
        ><i class="fa-brands fa-github-alt"></i
      ></a>
      <p>&#8226;</p>
      <a href="@@mail">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
  </div>
</article>
