<footer class="footer">
  <div class="container">
    <p class="footer__copyright">Equipo Molino © 2022</p>
    <nav>
      <ul class="footer__list">
        <li>
          <a class="footer__list-link" href="./index.html#team">Equipo</a>
        </li>
        <li>
          <a class="footer__list-link" href="./index.html#about-us">Quiénes somos</a>
        </li>
        <li>
          <a class="footer__list-link" href="./contact.html">Contacto</a>
        </li>
      </ul>
    </nav>
    <img
      class="footer__logo"
      src="./assets/images/logo-adalab.png"
      alt="imagen-logo-adalab"
    />
  </div>
</footer>
