<footer class="rectangle_6">
    <p class="footer_copyright">Equipo Molino © 2022</p>
    <nav>
        <ul class="footer_list">
            <li>
                <a class="footer_link" href="./index.html#team">Equipo</a>
            </li>
            <li>
                <a class="footer_link" href="./index.html#about-us">Quiénes somos</a>
            </li>
            <li>
                <a class="footer_link" href="./contacto.html">Contacto</a>
            </li>
        </ul>
    </nav>
    <img class="logo_footer" src="./assets/images/logo-adalab.png" alt="imagen-logo-adalab" />
</footer>