<div class="square"></div>
<aside class="rectangle_container">
  <div class="container">
    <article class="rectangle_item">
      <h2 class="subtitles">Fortalezas</h2>
      <p class="texto">
        Nos caracterizan tanto el positivismo y la escucha activa como el uso de
        unas buenas prácticas y una comunicación muy organizada. Venir de
        distintos sectores hace que consigamos puntos de vista más variados. No
        nos da miedo preguntar y sabemos gestionar el feedback.
      </p>
    </article>
    <article class="rectangle_item">
      <h2 class="subtitles">Debilidades</h2>
      <p class="texto">
        Nos consideramos demasiado autoexigentes. Esto en sí no compromete el
        desarrollo del producto, pero choca con el hecho de que nos falta mucho
        por "cacharrear". Somos conscientes de que tenemos un largo camino por
        delante y por ello trabajamos duro día a día.
      </p>
    </article>
  </div>
</aside>
