<header class="menu-fijo">
    <section>
      <div class="container">
      <h1 class="h1">EQUIPO MOLINO</h1>
      <nav class="menu_bar">
        <ul class="menu_list">
          <li>
            <a class="menu_item" href="./index.html#team">EQUIPO</a>
          </li>
          <li>
            <a class="menu_item" href="./index.html#about-us">QUIENES SOMOS</a>
          </li>
          <li>
            <a class="menu_item" href="./contacto.html">CONTACTO</a>
          </li>
        </ul>
      </nav>
      </div>
    </section>
  </div>
</header>