<header class="header">
  <div class="container">
    <h1 class="header__title">EQUIPO MOLINO</h1>
    <nav class="header__nav">
      <ul class="header__list">
        <li>
          <a class="header__list-item" href="./index.html#team">EQUIPO</a>
        </li>
        <li>
          <a class="header__list-item" href="./index.html#about-us"
            >QUIENES SOMOS</a
          >
        </li>
        <li>
          <a class="header__list-item" href="./contacto.html">CONTACTO</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
