<section class="about-us" id="about-us">
  <h2 class="about-us__title">QUIÉNES SOMOS</h2>

  <include
    src="./about.html"
    imagen="./assets/images/foto-lorena.jpg"
    nombre="Lorena Guartazaca"
    descripcion="Es una persona que se está reinventando en el mundo de la programación, le apasiona viajar, compartir en
familia, en sus tiempos libres le gusta hacer ejercicio."
    twitter="https://twitter.com/lorenaggs12?s=11"
    linkedin="https://www.linkedin.com/in/lorena-guartazaca-b55a541b4/"
    github="https://github.com/lorenaggs"
    mail="mailto:lorenaggs2812@gmail.com"
  ></include>

  <include
    direction="-right"
    src="./about.html"
    imagen="./assets/images/foto-feiruz.jpeg"
    nombre="Feiruz Khouri"
    descripcion="Alumna en Adalab y programadora front-end. Como trabajadora social siempre utilizaba la tecnología
        como herramienta para la transformación social. Durante mi tiempo de dedicación a la informática, tomé la
        decisión de formarme en el mundo de la programación."
    twitter="https://twitter.com/lorenaggs12?s=11"
    linkedin="https://www.linkedin.com/in/lorena-guartazaca-b55a541b4/"
    github="https://github.com/Feiruz90"
    mail="mailto:lorenaggs2812@gmail.com"
  ></include>

  <include
    src="./about.html"
    imagen="./assets/images/foto-patricia.png"
    nombre="Patricia Pallarés"
    descripcion="Creativa pero sistemática. Así describiría a la programación y así me describo a mí misma. Con
formación en marketing y tras haber vivido 3 años en el Reino Unido, estoy dispuesta a afrontar nuevos
retos."
    twitter="https://twitter.com/patripalmares?s=21"
    linkedin="https://www.linkedin.com/in/patriciapallaresgonzalez"
    github="https://github.com/patriciapallares"
    mail="mailto:patriciapallaresgonzalez@gmail.com"
  ></include>

  <include
    direction="-right"
    src="./about.html"
    imagen="./assets/images/foto-gracia.jpg"
    nombre="Gracia Garrido"
    descripcion="Desarrolladora en proceso con experiencia en campos tan dispares como Psicología, Venta de Agricultura Ecológica o Actriz de guiñol. Cuando no estoy programando me quedo absorta cuidando de mis plantas o bien salgo a correr y me baño en agua fría."
    twitter="https://twitter.com/GraciaGP3"
    linkedin="https://www.linkedin.com/in/gracia-garrido/"
    github="https://github.com/graciagarpin"
    mail="mailto:graciagarpin@gmail.com"
  ></include>

  <include
    src="./about.html"
    imagen="./assets/images/foto-cris.jpg"
    nombre="Cristina Garcia"
    descripcion="Adaptándose al cambio de la farmacia a la programación. Constante y con ganas de aprender algo nuevo cada día."
    twitter="https://twitter.com/GraciaGP3"
    linkedin="https://www.linkedin.com/in/gracia-garrido/"
    github="https://github.com/CristinaGarciaRoque"
    mail="mailto:cristinagaroque@gmail.com"
  ></include>
</section>
