<fieldset class="fieldset">
  <form
    class="fieldset__form"
    action="https://formspree.io/f/mrgjkdyq"
    method="POST"
  >
    <label class="fieldset__label" for="name"
      >Nombre completo<span class="fieldset__form-field-text-style-1">
        *</span
      ></label
    >
    <input
      class="fieldset__form-field"
      id="name"
      name="nombre"
      type="text"
      placeholder="Nombre..."
      required="required"
    />

    <span class="fieldset__box">
      
      <label class="fieldset__label label_email" for="email"
        >Email<span class="fieldset__form-field-text-style-1"> *</span></label
      >
      <input
        class="fieldset__form-field box_email"
        id="email"
        name="nombre"
        type="email"
        placeholder="nombre.apellidos@mail.com"
        required="required"
      />

      
      <label class="fieldset__label label_phone" for="phone">Teléfono</label>
      <input
        class="fieldset__form-field box_phone"
        id="phone"
        name="phone"
        type="tel"
        placeholder="Ej: 123456789"
        maxlength="9"
      />
    </span>

    <label class="fieldset__label" for="story"
      >Mensaje<span class="fieldset__form-field-text-style-1"> *</span></label
    >
    <textarea
      class="fieldset__form-field-message"
      name="story"
      id="story"
      rows="5"
      placeholder="¿Qué necesitas?"
    ></textarea>

    <div class="buttom">
      <input class="fieldset__form-field-submit" type="submit" value="Enviar" />
    </div>
  </form>
</fieldset>
