<section class="team">
  <div class="container">
    <article class="article">
      <h2 class="article__title--motto">
        Si quieres ir rápido, ve solo. Si quieres llegar lejos, ve acompañado.
        Proverbio africano.
      </h2>
      <h2 class="article__title">Equipo</h2>
      <p class="article__text">
        Creemos que juntando pequeños esfuerzos podemos conseguir grandes
        resultados. Es por eso que somos el Equipo Molino, donde combinamos
        nuestras energías para crear un producto sin fisuras. Puedes contar con
        nosotras para crear distintos diseños, desde mobile a desktop, entre
        otros.
      </p>
      <p class="article__text">
        Nuestra misión es colaborar con aquellas personas que necesiten ayuda en
        la maquetación de su primera página web. Tras formarnos en el Bootcamp
        de Programación Web de Adalab, contamos con los conocimientos y las
        herramientas necesarias para ajustarnos a las necesidades más
        particulares de cada proyecto. ¡Pon a funcionar la rueda de tu molino
        con nosotras!
      </p>
    </article>
  </div>
</section>
