<fieldset class="fieldset">
  <form
    class="fieldset__form"
    action="https://adalab-server-form.herokuapp.com/"
    method="POST"
  >
    <!-- <legend>Nombre completo *</legend> -->

    <label class="fieldset__label" for="name"
      >Nombre completo<span class="fieldset__form-field-text-style-1">
        *</span
      ></label
    >
    <input
      class="fieldset__form-field"
      id="name"
      name="nombre"
      type="text"
      placeholder="Nombre..."
      required="required"
    />

    <!-- <legend>Email *</legend> -->
    <!-- <div class="mailphone"> -->

    <label class="fieldset__label" for="email"
      >Email<span class="fieldset__form-field-text-style-1"> *</span></label
    >
    <input
      class="fieldset__form-field"
      id="email"
      name="nombre"
      type="email"
      placeholder="nombre.apellidos@mail.com"
      required="required"
    />

    <!-- <legend>Teléfono</legend> -->

    <label class="fieldset__label" for="phone">Telefono</label>
    <input
      class="fieldset__form-field"
      id="phone"
      name="phone"
      type="tel"
      placeholder="Ej: 123456789"
      maxlength="9"
    />

    <!-- </div> -->

    <!-- <legend>Mensaje *</legend> -->

    <label class="fieldset__label" for="story"
      >Mensaje<span class="fieldset__form-field-text-style-1"> *</span></label
    >
    <textarea
      class="fieldset__form-field-message"
      name="story"
      id="story"
      rows="5"
      placeholder="¿Qué necesitas?"
    ></textarea>

    <div class="buttom">
      <input class="fieldset__form-field-submit" type="submit" value="Enviar" />
    </div>
  </form>
</fieldset>
