<article class="contact__article">
    <h2 class="contact__article-title">CONTACTO</h2>
    <p class="contact__article-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, cumque provident. Reiciendis incidunt,
        quae in veniam beatae ipsam perferendis sit! Autem atque dolore molestias deserunt expedita labore nihil
        commodi aspernatur.
    </p>
    <p class="contact__article-text">
        Todos los campos marcados con <span class="fieldset__form-field-text-style-1">*</span> son obligatiorios.
    </p>
</article>