<section class="about-us" id="about-us">
  <h2 class="about-us__title">QUIÉNES SOMOS</h2>

  <include src="./about.html" imagen="./assets/images/foto-lorena.jpg" nombre="Lorena Guartazaca" descripcion="Desarrolladora Frontend con formación profesional en Contabilidad y Auditoría que se está reinventando en el mundo de la programación, le apasiona viajar, compartir en
familia, en sus tiempos libres le gusta hacer ejercicio." twitter="https://twitter.com/lorenaggs12?s=11"
    linkedin="https://www.linkedin.com/in/lorena-guartazaca-b55a541b4/" github="https://github.com/lorenaggs"
    mail="mailto:lorenaggs2812@gmail.com"></include>

  <include direction="-right" src="./about.html" imagen="./assets/images/foto-feiruz.jpeg" nombre="Feiruz Khouri"
    descripcion="Si dejas salir tus miedos, tendrás más espacios para vivir tus sueños. Es una frase que me define : de Trabajadora Social a Programadora Frontend con el resultado de emprender un nuevo camino laboral." twitter="https://twitter.com/"
    linkedin="https://www.linkedin.com/in/feiruz-mac%C3%ADas-512b42163/" github="https://github.com/Feiruz90" mail="mailto:feiruz25@hotmail.com">
  </include>

  <include src="./about.html" imagen="./assets/images/foto-patricia.png" nombre="Patricia Pallarés" descripcion="Creativa pero sistemática. Así describiría a la programación y así me describo a mí misma. Con
formación en marketing y tras haber vivido 3 años en el Reino Unido, estoy dispuesta a afrontar nuevos
retos." twitter="https://twitter.com/patripalmares?s=21"
    linkedin="https://www.linkedin.com/in/patriciapallaresgonzalez" github="https://github.com/patriciapallares"
    mail="mailto:patriciapallaresgonzalez@gmail.com"></include>

  <include direction="-right" src="./about.html" imagen="./assets/images/foto-gracia.jpg" nombre="Gracia Garrido"
    descripcion="Programadora Frontend con experiencia en Psicología, Agricultura Ecológica y Actriz de guiñol. Entiendo la programación como un conocimiento transversal a nuestros tiempos y cada día practico aprender a aprender."
    twitter="https://twitter.com/GraciaGP3" linkedin="https://www.linkedin.com/in/gracia-garrido/"
    github="https://github.com/graciagarpin" mail="mailto:graciagarpin@gmail.com"></include>

  <include src="./about.html" imagen="./assets/images/foto-cris.jpg" nombre="Cristina Garcia"
    descripcion="Adaptándose al cambio de la farmacia a la programación. Constante y con ganas de aprender algo nuevo cada día."
    twitter="https://twitter.com/" linkedin="https://www.linkedin.com/" github="https://github.com/CristinaGarciaRoque"
    mail="mailto:cristinagaroque@gmail.com"></include>
</section>