<article class="contact__article">
  <h2 class="contact__article-title">Contacto</h2>
  <p class="contact__article-text">
    El cambio empieza aquí. Cuéntanos en qué punto te encuentras y nosotras
    intentaremos dar respuesta a tus necesidades. Para transmitirnos cualquier
    duda o sugerencia, rellena el formulario y nos pondremos en contacto contigo
    lo antes posible.
  </p>
  <p class="contact__article-text small">
    Todos los campos marcados con
    <span class="fieldset__form-field-text-style-1">*</span> son obligatiorios.
  </p>
</article>
