.about-us__article {
  padding: 20px 0px;
  text-align: center;
  margin-top: 30px;

  &-image,
  &-image-right {
    width: 205px;
    max-height: 205px;
    border-radius: 20px;
    border: solid 5px rgba(0, 0, 0, 0.08);
    justify-content: center;
  }

  &-team {
    text-align: center;

    &-name,
    &-name-right {
      margin: 15px;
      font-family: "Open Sans";
      font-size: 20px;
      line-height: 2.25;
      color: var(--black);
    }

    &-info,
    &-info-right {
      font-family: "Open Sans";
      line-height: 1.88;
      color: var(--dark-gray);
      margin: 15px;
    }

    &-social,
    &-social-right {
      color: var(--blue-green);
      justify-content: center;
      display: flex;
      align-items: center;

      & a:visited,
      a:link {
        color: var(--blue-green);
        margin: 0px 10px;
      }
    }
  }
}

.about-us__article-team {
  .linkedin:hover,
  .mail:hover,
  .twitter:hover,
  .github:hover {
    transform: scale(3) rotate(-360deg);
    transition: transform 1s;
  }
}

@media all and (min-width: 768px) {
  .about-us__article {
    display: flex;
    margin: 6%;
    &-image-right {
      order: 1;
    }

    &-team {
      text-align: left;
      &-name-right {
        text-align: right;
      }
      &-info-right {
        text-align: right;
      }

      &-social {
        justify-content: flex-start;
        &-right {
          justify-content: end;
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .about-us__article {
    &-team {
      &-info-right {
        margin-left: 20%;
      }

      &-info {
        margin-right: 20%;
      }
    }
  }
}
