.about-us {
  padding-top: 30px ;
  background-color: var(--white);
  &__title {
    color: var(--aqua);
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 600;
  }
}

@media all and (min-width: 768px){
  .about-us {
    padding: 45px 44px 60px;
  }
}

@media all and (min-width: 1200px){
  .about-us {
    padding: 45px 138px 60px;
  }
}