// los estilos about-us van en layout/about-us

.about-us {
  margin-top: 30px;
  &__title {
    color: var(--aqua);
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 600;
  }
}

