// los estilos footer van en layout/footer
// prueba otra vez
// para que me funcionen los mediaqueries tengo que comentar el div container sorry

.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid rgba(128, 128, 128, 0.507) 0.75px;
  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
  }

  &__copyright {
    color: var(--cool-gray);
    font-family: 'Open Sans';
    font-size: 14px;
    text-align: center;
    padding: 30px 0 20px 0;

    @media all and (min-width: 768px) {
      padding: 0;
      margin-top: 25px;
      margin-left: 45px;
    }
    @media all and (min-width: 1200px) {
      margin-left: 138px;
    }
  }

  &__list {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.25;

    &-link {
      text-decoration: none;
      color: var(--dark-gray);
      opacity: 0.75;
      font-family: 'Open Sans';
      font-size: 14px;
      font-weight: 600;
      height: 20px;

      transition: all 0.3s ease;
    }

    &-link:hover {
      background-color: #14d9c52d;
      padding: 2px 7px;
      color: #414446;
    }

    @media all and (min-width: 768px) {
      text-align: right;
      margin-right: 45px;
      line-height: 1.5;
      transform: translate(0, -35%);
    }

    @media all and (min-width: 1200px) {
      margin-right: 138px;
    }
  }

  &__logo {
    box-sizing: content-box;
    width: 115.9px;
    height: 45px;
    padding: 30px 0 45px 0;
    align-items: center;

    @media all and (min-width: 768px) {
      padding: 0;
      margin-left: 45px;
      margin-top: 15px;
      margin-bottom: 60px;
    }

    @media all and (min-width: 1200px) {
      margin-left: 138px;
    }
  }

  &__nav {
    @media all and (min-width: 768px) {
      grid-row: span 2;
    }
  }
}
