// los estilos header van en layout/header

.header__list-item {
  text-decoration: none;
  color: var(--white);
  text-decoration: none;
}

.header{
  z-index: 99;
  position: fixed;
  width: 100%;
}

.header__title {
  display: block;
  background-color: var(--blue-green);
  color: var(--white);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0;
  font-family: Rubik;
  height: 60px;
  line-height: 40px;
}

.header__nav ul {
  text-align: center;
  background-color: var(--aqua-opacidad);
  font-size: 15px;
  margin: 0;
  padding: 8px 5px 7px;
  font-family: Rubik;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.header__nav li {
  background-color: var(--aqua);
  padding: 0 0px;
}
.header__nav a {
  color: var(--white);
}
