// los estilos strengths-weaknesses van en layout/strengths

.strengths-weaknesses__text {
  font-family: 'Open Sans';
  line-height: 1.88;
  text-align: center;
  color: var(--dark-gray);
  padding: 20px 0
}

.strengths-weaknesses {
  background-color: gainsboro;
  
}


// .strengths-weaknesses__article {
  
// }

.strengths-weaknesses__title {
  font-family: Rubik;
  font-size: 22px;
  font-weight: 600;
  line-height: 2.05;
  color: var(--blue-green);
  margin-top: 10px;
  text-align: center;
}

.square {
  background-color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
