// los estilos team van en layout/team

.article {
  &__title--motto {
    font-family: "Open Sans";
    color: var(--black);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    background-color: white;
    padding: 15px;
    margin: 15px 15px 0px 15px;
    position: relative;
    top: -60px;

    @media all and (min-width: 768px) {
      max-width: 441px;
      max-height: 80px;
      background-color: rgba(255, 255, 255, 0.8);
      transform: translate(0, -45%);
      // padding-left: 15px;
      box-sizing: border-box;
      left: -15px;
    }
  }
  &__title {
    color: var(--aqua);
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__text {
    font-family: "Open Sans";
    line-height: 1.88;
    text-align: center;
    color: var(--dark-gray);
    padding: 20px 0;

    @media all and (min-width: 768px) {
      color: #54585ab0;

    }

  }
}
