// los estilos team van en layout/team

.article {
  &__title {
    color: var(--aqua);
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__text {
    font-family: "Open Sans";
    line-height: 1.88;
    text-align: center;
    color: var(--dark-gray);
    padding: 20px 0;

    @media all and (min-width: 768px) {
      color: #54585ab0;
    }

    @media all and (min-width: 1200px) {
      width: 65%;
      margin: auto;
    }
  }

  transform: translate(0, -30px);

  @media all and (min-width: 768px) {
    transform: translate(0, -45px);
  }
}
