// @import 'core/variables';
// @import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

:root {
  /* colors */
  --white: #fff;
  --black: #000;
  --blue-green: rgb(9, 159, 144);
  --blue-green-opacidad: rgba(9, 159, 144, 0.8);
  --aqua: #14d9c4;
  --aqua-opacidad: rgba(20, 217, 196, 0.8);
  --dark-gray: #54585a;
  --cool-gray: #b8b8b9;
  /* fonts */
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  border: solid 1px red;
  margin: 0 15px;
}

/* CRISTINA */


/* CRISTINA */
.menu_item {
  text-decoration: none;
  color: var(--white);
}
/*pastilla de menu fija con un indice de capa alto para asegurar que nada lo superponga*/
.menu-fijo {
  z-index: 99;
  position: fixed;
  width: 100%;
}

.menu_item {
  text-decoration: none;
}
.h1 {
  display: block;
  background-color: var(--blue-green-opacidad);
  color: var(--white);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0;
  font-family: Rubik;
  height: 60px;
  opacity: 0, 5;
}
.menu_bar ul {
  //ANTES: .navigation_bar
  text-align: center;
  background-color: var(--aqua-opacidad);
  font-size: 15px;
  margin: 0;
  padding: 8px 5px 7px;
  font-family: Rubik;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
.menu_bar li {
  background-color: var(--aqua);
  padding: 0 0px;
}
.menu_bar a {
  color: var(--white);
}

// .imagen_banner * {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
// }

.hero {
  // height: 421px;
  background-image: url(./assets/images/imagen-grupo-L.png);
  background-size: cover;
  // width: 100vw;
  // background-repeat: no-repeat;
}

.team {
  color: var(--aqua);
  text-align: center;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 600;
  // margin: 0 99.5px 15px 101.5px;
}

/* /CRISTINA */

/* FEIRUZ */
.hero__title {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  color: var(--black);
  background-color: white;
  // padding: 15px;
  // top: -30px;
  position: relative;
  // line-height: 1.39;
}
.texto,
.info {
  font-family: 'Open Sans';
  line-height: 1.88;
  text-align: center;
  color: var(--dark-gray);
}

/* FEIRUZ */
/* GRACIA */
.rectangle_container {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  // justify-content: center;
  // align-items: center;
}

.rectangle_item {
  // margin: 15px;
  padding: 0px;
  display: block;
  text-align: center;
}

.subtitles {
  font-family: Rubik;
  font-size: 22px;
  font-weight: 600;
  line-height: 2.05;
  color: var(--blue-green);
}

/* /GRACIA */

/* PATRICIA */

.rectangle_6 {
  // width: 100%; ----> lo he comentado porque no varía nada, a mi me pasó igual arriba
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  border-top: solid rgba(128, 128, 128, 0.507) 0.75px;
}

.footer_copyright {
  color: var(--cool-gray);
  font-family: 'Open Sans';
  font-size: 14px;
  text-align: center;
  padding: 30px 0 20px 0;
  margin: 0; //GRACIA - ¿Porqué este reset aquí?
}

.footer_list {
  list-style: none;
  padding: 0; //GRACIA - ¿Porqué este reset aquí?
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.footer_link {
  text-decoration: none;
  color: var(--dark-gray);
  opacity: 0.75;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  height: 20px;
}

.logo_footer {
  box-sizing: content-box;
  width: 115.9px;
  height: 45px;
  padding: 30px 0 45px 0;
  align-items: center;
}

/* /PATRICIA */

/* LORENA */

.imagen {
  width: 205px;
  border-radius: 20px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  justify-content: center;
}

.conteiner {
  /* text-align: center; */
  padding: 20px 0px;
  text-align: center;
}

.icon-social {
  width: 30px;
  height: 30px;
  margin: 0px;
  border: none;
}

.redes-sociales {
  color: var(--blue-green);
  justify-content: center;
  display: flex;
  align-items: center;
}

.redes-sociales a:visited,
.redes-sociales a:link {
  color: var(--blue-green);
  margin: 0px 10px;
}

.description-team {
  text-align: center;
}

.info {
  margin: 15px;
}

.name {
  margin: 15px;
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 2.25;
  color: var(--black);
}

#about-us {    // EN TEORÍA ESTO NO DEBÍAMOS HACERLO: #id
  margin-top: 15px;
}
/* LORENA */

.square {
  background-color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}