/* FEIRUZ */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1 {
  display: block;
  background-color: #139e8e;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 13px;
  margin: 0;
  font-weight: normal;
}
.navigation_bar ul {
  text-align: center;
  background-color: #14d9c4;
  margin: 0;
  padding: 10px;
}
.navigation_bar li {
  display: inline;
  background-color: #14d9c4;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 5px;
  font-size: 11px;
}
.navigation_bar a {
  color: white;
}

.middle_rectangle {
  
}

.team {
  color: #14d9c4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.lema {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.texto {
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #54585a;
}

/* FEIRUZ */

/* PATRICIA */

.rectangle_6 {
  /* Vista Mobile width: 320px */
  width: 320px;
  height: 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid rgba(128, 128, 128, 0.507) 0.75px;
}

.footer_copyright {
  color: #b8b8b9;
  font-family: 'Open Sans';
  font-size: 14px;
  text-align: center;
  padding: 30px 0 20px 0;
  margin: 0;
}

.footer_list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer_link {
  text-decoration: none;
  color: #54585A;
  opacity: 0.75;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  height: 20px; 
}

.logo_footer {
  width: 115.9px;
  height: 45px;
  padding: 30px 0 45px 0;
}

/* PATRICIA */