/* :root {
  --title-color: #099d8d
} */

/* * {
  padding: 0;
  margin: 0;
} */

body {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

.container {
  margin: 15px;
}

/* CRISTINA */
.menu_item {
  text-decoration: none;
}

.h1 {
  display: block;
  background-color: #139e8e;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 13px;
  margin: 0;
  font-weight: normal;
}
.navigation_bar ul {
  text-align: center;
  background-color: #14d9c4;
  margin: 0;
  padding: 10px;
}
.navigation_bar li {
  display: inline;
  background-color: #14d9c4;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 5px;
  font-size: 11px;
}
.navigation_bar a {
  color: white;
}

.imagen_banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  color: #14d9c4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

/* /CRISTINA */

/* FEIRUZ */
.lema {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.texto {
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #54585a;
}

/* FEIRUZ */
/* GRACIA */
.rectangle_container {
  display: flex;
  flex-wrap: wrap;
  background-color: #b8b8b9;
  justify-content: center;
  align-items: center;
}

.rectangle_item {
  margin: 0%;
  padding: 0%;
  width: 400px;
  display: block;
  text-align: center;
  box-sizing: content-box;
}
/* /GRACIA */
/* PATRICIA */

.rectangle_6 {
  /* Vista Mobile width: 320px */
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid rgba(128, 128, 128, 0.507) 0.75px;
}

.footer_copyright {
  color: #b8b8b9;
  font-family: 'Open Sans';
  font-size: 14px;
  text-align: center;
  padding: 30px 0 20px 0;
  margin: 0;
}

.footer_list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer_link {
  text-decoration: none;
  color: #54585a;
  opacity: 0.75;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  height: 20px;
}

.logo_footer {
  width: 115.9px;
  height: 45px;
  padding: 30px 0 45px 0;
}

/* /PATRICIA */

/* LORENA */

.imagen {
  width: 205px;
  border-radius: 20px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  justify-content: center;
}

.conteiner {
  /* text-align: center; */
  padding: 20px 0px;
  text-align: center;
}

.icon-social {
  width: 30px;
  height: 30px;
  margin: 0px;
  border: none;
}

.redes-sociales {
  color: #139e8e;
  justify-content: center;
  display: flex;
}

.redes-sociales a:visited,
.redes-sociales a:link {
  color: #139e8e;
  margin: 0px 10px;
}

.description-team {
  text-align: center;
  margin: ;
}

.info {
  margin: 15px;
}

.name {
  margin: 15px;
}

#about-us {
  margin-top: 15px;
}
/* LORENA */
